In [1]:
import pandas as pd

In [2]:
file = "RDC_InventoryCoreMetrics_Zip_Hist.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

C:\Users\naras\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
0,9/1/2017,1001.0,"Agawam, MA",NaN,213700.0,-0.0387,-0.0286,52.0,0.0612,-0.2571,...,0.0,248200.0,-0.0028,0.0973,53.0,0.0600,-0.2535,0.0192,-0.0012,0.0049
1,9/1/2017,1002.0,"Amherst, MA",NaN,358500.0,-0.0465,0.0913,110.0,-0.0678,-0.0351,...,NaN,444400.0,0.0018,0.2396,110.0,-0.0678,-0.0351,0.0000,0.0000,0.0000
2,9/1/2017,1005.0,"Barre, MA",NaN,251300.0,-0.0408,0.1100,24.0,0.1429,-0.1724,...,NaN,250900.0,-0.0260,0.0321,24.0,0.1429,-0.1724,0.0000,0.0000,0.0000
3,9/1/2017,1007.0,"Belchertown, MA",NaN,333600.0,-0.0039,0.1120,82.0,-0.0353,-0.0889,...,NaN,331500.0,-0.0140,0.0805,82.0,-0.0353,-0.0889,0.0000,0.0000,0.0000
4,9/1/2017,1008.0,"Blandford, MA",NaN,186200.0,0.0081,-0.0432,14.0,0.0000,-0.2222,...,0.0,257300.0,0.0235,-0.3675,15.0,0.0000,-0.2105,0.0714,0.0000,0.0159

In [3]:
df.columns

Index(['Month', 'ZipCode', 'ZipName', 'Footnote', 'Median Listing Price',
       'Median Listing Price M/M', 'Median Listing Price Y/Y',
       'Active Listing Count ', 'Active Listing Count M/M',
       'Active Listing Count Y/Y', 'Days on Market ', 'Days on Market M/M',
       'Days on Market Y/Y', 'New Listing Count ', 'New Listing Count M/M',
       'New Listing Count Y/Y', 'Price Increase Count ',
       'Price Increase Count M/M', 'Price Increase Count Y/Y',
       'Price Decrease Count ', 'Price Decrease Count M/M',
       'Price Decrease Count Y/Y', 'Pending Listing Count ',
       'Pending Listing Count M/M', 'Pending Listing Count Y/Y',
       'Avg Listing Price', 'Avg Listing Price M/M', 'Avg Listing Price Y/Y',
       'Total Listing Count', 'Total Listing Count M/M',
       'Total Listing Count Y/Y', 'Pending Ratio', 'Pending Ratio M/M',
       'Pending Ratio Y/Y'],
      dtype='object')

In [4]:
zip_data = df.loc[:, ["Month", "ZipCode", "ZipName","Median Listing Price", 
                                    "Active Listing Count ", "Avg Listing Price"]]
zip_data.head()

,Month,ZipCode,ZipName,Median Listing Price,Active Listing Count,Avg Listing Price
0,9/1/2017,1001.0,"Agawam, MA",213700.0,52.0,248200.0
1,9/1/2017,1002.0,"Amherst, MA",358500.0,110.0,444400.0
2,9/1/2017,1005.0,"Barre, MA",251300.0,24.0,250900.0
3,9/1/2017,1007.0,"Belchertown, MA",333600.0,82.0,331500.0
4,9/1/2017,1008.0,"Blandford, MA",186200.0,14.0,257300.0

In [5]:
zip_data[['City','State']] = zip_data.ZipName.str.split(",",expand=True,)
zip_data.head()

,Month,ZipCode,ZipName,Median Listing Price,Active Listing Count,Avg Listing Price,City,State
0,9/1/2017,1001.0,"Agawam, MA",213700.0,52.0,248200.0,Agawam,MA
1,9/1/2017,1002.0,"Amherst, MA",358500.0,110.0,444400.0,Amherst,MA
2,9/1/2017,1005.0,"Barre, MA",251300.0,24.0,250900.0,Barre,MA
3,9/1/2017,1007.0,"Belchertown, MA",333600.0,82.0,331500.0,Belchertown,MA
4,9/1/2017,1008.0,"Blandford, MA",186200.0,14.0,257300.0,Blandford,MA

In [6]:
zip_data['State'] = zip_data['State'].str.replace(' ', '')
zip_data.head()

,Month,ZipCode,ZipName,Median Listing Price,Active Listing Count,Avg Listing Price,City,State
0,9/1/2017,1001.0,"Agawam, MA",213700.0,52.0,248200.0,Agawam,MA
1,9/1/2017,1002.0,"Amherst, MA",358500.0,110.0,444400.0,Amherst,MA
2,9/1/2017,1005.0,"Barre, MA",251300.0,24.0,250900.0,Barre,MA
3,9/1/2017,1007.0,"Belchertown, MA",333600.0,82.0,331500.0,Belchertown,MA
4,9/1/2017,1008.0,"Blandford, MA",186200.0,14.0,257300.0,Blandford,MA

In [7]:
zip_data[['Month1','Day', 'Year']] = zip_data.Month.str.split("/",expand=True,)
zip_data.head()

,Month,ZipCode,ZipName,Median Listing Price,Active Listing Count,Avg Listing Price,City,State,Month1,Day,Year
0,9/1/2017,1001.0,"Agawam, MA",213700.0,52.0,248200.0,Agawam,MA,9,1,2017
1,9/1/2017,1002.0,"Amherst, MA",358500.0,110.0,444400.0,Amherst,MA,9,1,2017
2,9/1/2017,1005.0,"Barre, MA",251300.0,24.0,250900.0,Barre,MA,9,1,2017
3,9/1/2017,1007.0,"Belchertown, MA",333600.0,82.0,331500.0,Belchertown,MA,9,1,2017
4,9/1/2017,1008.0,"Blandford, MA",186200.0,14.0,257300.0,Blandford,MA,9,1,2017

In [8]:
agg = {'Active Listing Count ': ['sum'], 'Avg Listing Price': ['mean']}

In [9]:
State_data_df = zip_data.groupby(['State', 'Year']).agg(agg).reset_index()
State_data_df.head(5)

  State  Year Active Listing Count  Avg Listing Price
                                sum              mean
0    AK  2012               26495.0     301629.249012
1    AK  2013               36704.0     307276.640420
2    AK  2014               33971.0     314421.354167
3    AK  2015               32011.0     325759.541985
4    AK  2016               34157.0     326024.494949

In [10]:
State_data_df.columns = ['State', 'Year', 'Active Listing Count', 'Avg Listing Price']
State_data_df.head()

  State  Year  Active Listing Count  Avg Listing Price
0    AK  2012               26495.0      301629.249012
1    AK  2013               36704.0      307276.640420
2    AK  2014               33971.0      314421.354167
3    AK  2015               32011.0      325759.541985
4    AK  2016               34157.0      326024.494949

In [11]:
State_data_df = State_data_df.sort_values(['Year', 'State'])
State_data_df.head(20)

    State  Year  Active Listing Count  Avg Listing Price
0      AK  2012               26495.0      301629.249012
6      AL  2012              312875.0      193571.345029
12     AR  2012              148267.0      190982.723735
18     AZ  2012              255573.0      274091.164454
24     CA  2012              815351.0      584730.605448
30     CO  2012              294914.0      448192.827201
36     CT  2012              242581.0      497561.363636
42     DC  2012               16116.0      626075.657895
48     DE  2012               73950.0      301246.851385
54     FL  2012             1316402.0      321932.092813
60     GA  2012              658385.0      234588.318431
66     HI  2012               58918.0      845203.890160
72     IA  2012              120401.0      181770.399374
78     ID  2012              111745.0      306117.934783
84     IL  2012              699661.0      225672.901395
90     IN  2012              342352.0      161708.534252
96     KS  2012              110513.0      190897.339056
102    KY  2012              193352.0      193294.504792
108    LA  2012              149574.0      211846.016484
114    MA  2012              271769.0      508761.221176

In [14]:
State_data_json = State_data_df.to_json(orient='records')

In [18]:
State_data_json_final = eval(State_data_json)

In [19]:
State_data_json_final

[{'State': 'AK',
  'Year': '2012',
  'Active Listing Count': 26495.0,
  'Avg Listing Price': 301629.2490118577},
 {'State': 'AL',
  'Year': '2012',
  'Active Listing Count': 312875.0,
  'Avg Listing Price': 193571.3450292398},
 {'State': 'AR',
  'Year': '2012',
  'Active Listing Count': 148267.0,
  'Avg Listing Price': 190982.7237354086},
 {'State': 'AZ',
  'Year': '2012',
  'Active Listing Count': 255573.0,
  'Avg Listing Price': 274091.164453524},
 {'State': 'CA',
  'Year': '2012',
  'Active Listing Count': 815351.0,
  'Avg Listing Price': 584730.6054478411},
 {'State': 'CO',
  'Year': '2012',
  'Active Listing Count': 294914.0,
  'Avg Listing Price': 448192.8272007452},
 {'State': 'CT',
  'Year': '2012',
  'Active Listing Count': 242581.0,
  'Avg Listing Price': 497561.3636363636},
 {'State': 'DC',
  'Year': '2012',
  'Active Listing Count': 16116.0,
  'Avg Listing Price': 626075.6578947369},
 {'State': 'DE',
  'Year': '2012',
  'Active Listing Count': 73950.0,
  'Avg Listing Price': 301246.8513853904},
 {'State': 'FL',
  'Year': '2012',
  'Active Listing Count': 1316402.0,
  'Avg Listing Price': 321932.092813018},
 {'State': 'GA',
  'Year': '2012',
  'Active Listing Count': 658385.0,
  'Avg Listing Price': 234588.3184309201},
 {'State': 'HI',
  'Year': '2012',
  'Active Listing Count': 58918.0,
  'Avg Listing Price': 845203.8901601831},
 {'State': 'IA',
  'Year': '2012',
  'Active Listing Count': 120401.0,
  'Avg Listing Price': 181770.3993735317},
 {'State': 'ID',
  'Year': '2012',
  'Active Listing Count': 111745.0,
  'Avg Listing Price': 306117.9347826087},
 {'State': 'IL',
  'Year': '2012',
  'Active Listing Count': 699661.0,
  'Avg Listing Price': 225672.9013951289},
 {'State': 'IN',
  'Year': '2012',
  'Active Listing Count': 342352.0,
  'Avg Listing Price': 161708.5342518178},
 {'State': 'KS',
  'Year': '2012',
  'Active Listing Count': 110513.0,
  'Avg Listing Price': 190897.339055794},
 {'State': 'KY',
  'Year': '2012',
  'Active Listing Count': 193352.0,
  'Avg Listing Price': 193294.5047923323},
 {'State': 'LA',
  'Year': '2012',
  'Active Listing Count': 149574.0,
  'Avg Listing Price': 211846.0164835165},
 {'State': 'MA',
  'Year': '2012',
  'Active Listing Count': 271769.0,
  'Avg Listing Price': 508761.2211757064},
 {'State': 'MD',
  'Year': '2012',
  'Active Listing Count': 247826.0,
  'Avg Listing Price': 364808.5741354808},
 {'State': 'ME',
  'Year': '2012',
  'Active Listing Count': 121274.0,
  'Avg Listing Price': 289625.8181818182},
 {'State': 'MI',
  'Year': '2012',
  'Active Listing Count': 556540.0,
  'Avg Listing Price': 187715.6086631815},
 {'State': 'MN',
  'Year': '2012',
  'Active Listing Count': 219894.0,
  'Avg Listing Price': 243439.6246089677},
 {'State': 'MO',
  'Year': '2012',
  'Active Listing Count': 344830.0,
  'Avg Listing Price': 187881.7845242503},
 {'State': 'MS',
  'Year': '2012',
  'Active Listing Count': 116544.0,
  'Avg Listing Price': 190851.0162601626},
 {'State': 'MT',
  'Year': '2012',
  'Active Listing Count': 91531.0,
  'Avg Listing Price': 409962.2222222222},
 {'State': 'NC',
  'Year': '2012',
  'Active Listing Count': 730037.0,
  'Avg Listing Price': 264400.1493280239},
 {'State': 'ND',
  'Year': '2012',
  'Active Listing Count': 13904.0,
  'Avg Listing Price': 256438.0952380952},
 {'State': 'NE',
  'Year': '2012',
  'Active Listing Count': 45881.0,
  'Avg Listing Price': 178766.9887278583},
 {'State': 'NH',
  'Year': '2012',
  'Active Listing Count': 119091.0,
  'Avg Listing Price': 290854.1420118343},
 {'State': 'NJ',
  'Year': '2012',
  'Active Listing Count': 593838.0,
  'Avg Listing Price': 452909.4518442623},
 {'State': 'NM',
  'Year': '2012',
  'Active Listing Count': 91101.0,
  'Avg Listing Price': 322977.1604938271},
 {'State': 'NV',
  'Year': '2012',
  'Active Listing Count': 198277.0,
  'Avg Listing Price': 338565.9119496855},
 {'State': 'NY',
  'Year': '2012',
  'Active Listing Count': 684194.0,
  'Avg Listing Price': 447639.0730225802},
 {'State': 'OH',
  'Year': '2012',
  'Active Listing Count': 603232.0,
  'Avg Listing Price': 165322.2683264177},
 {'State': 'OK',
  'Year': '2012',
  'Active Listing Count': 154709.0,
  'Avg Listing Price': 182585.8848314607},
 {'State': 'OR',
  'Year': '2012',
  'Active Listing Count': 188849.0,
  'Avg Listing Price': 329540.233614536},
 {'State': 'PA',
  'Year': '2012',
  'Active Listing Count': 651455.0,
  'Avg Listing Price': 236598.6118251928},
 {'State': 'RI',
  'Year': '2012',
  'Active Listing Count': 54175.0,
  'Avg Listing Price': 413670.5357142857},
 {'State': 'SC',
  'Year': '2012',
  'Active Listing Count': 379158.0,
  'Avg Listing Price': 266452.8735632184},
 {'State': 'SD',
  'Year': '2012',
  'Active Listing Count': 29483.0,
  'Avg Listing Price': 226414.8648648649},
 {'State': 'TN',
  'Year': '2012',
  'Active Listing Count': 428204.0,
  'Avg Listing Price': 229707.3758865248},
 {'State': 'TX',
  'Year': '2012',
  'Active Listing Count': 960583.0,
  'Avg Listing Price': 252205.3712904525},
 {'State': 'UT',
  'Year': '2012',
  'Active Listing Count': 134958.0,
  'Avg Listing Price': 325106.0479666319},
 {'State': 'VA',
  'Year': '2012',
  'Active Listing Count': 410952.0,
  'Avg Listing Price': 352416.9552074746},
 {'State': 'VT',
  'Year': '2012',
  'Active Listing Count': 56094.0,
  'Avg Listing Price': 323426.5889830508},
 {'State': 'WA',
  'Year': '2012',
  'Active Listing Count': 235945.0,
  'Avg Listing Price': 371956.3131313131},
 {'State': 'WI',
  'Year': '2012',
  'Active Listing Count': 394779.0,
  'Avg Listing Price': 223437.3247335951},
 {'State': 'WV',
  'Year': '2012',
  'Active Listing Count': 56881.0,
  'Avg Listing Price': 196508.7697929354},
 {'State': 'WY',
  'Year': '2012',
  'Active Listing Count': 31375.0,
  'Avg Listing Price': 386889.8648648649},
 {'State': 'AK',
  'Year': '2013',
  'Active Listing Count': 36704.0,
  'Avg Listing Price': 307276.6404199475},
 {'State': 'AL',
  'Year': '2013',
  'Active Listing Count': 446006.0,
  'Avg Listing Price': 194359.1506007265},
 {'State': 'AR',
  'Year': '2013',
  'Active Listing Count': 234216.0,
  'Avg Listing Price': 189457.9192546584},
 {'State': 'AZ',
  'Year': '2013',
  'Active Listing Count': 395513.0,
  'Avg Listing Price': 299181.9847856155},
 {'State': 'CA',
  'Year': '2013',
  'Active Listing Count': 1000271.0,
  'Avg Listing Price': 661475.3259141494},
 {'State': 'CO',
  'Year': '2013',
  'Active Listing Count': 386482.0,
  'Avg Listing Price': 475403.6159600997},
 {'State': 'CT',
  'Year': '2013',
  'Active Listing Count': 333513.0,
  'Avg Listing Price': 506605.1587301588},
 {'State': 'DC',
  'Year': '2013',
  'Active Listing Count': 20947.0,
  'Avg Listing Price': 702318.4210526316},
 {'State': 'DE',
  'Year': '2013',
  'Active Listing Count': 99753.0,
  'Avg Listing Price': 298860.2368866328},
 {'State': 'FL',
  'Year': '2013',
  'Active Listing Count': 1864163.0,
  'Avg Listing Price': 339958.4213172448},
 {'State': 'GA',
  'Year': '2013',
  'Active Listing Count': 1012294.0,
  'Avg Listing Price': 243734.9388230724},
 {'State': 'HI',
  'Year': '2013',
  'Active Listing Count': 76618.0,
  'Avg Listing Price': 921648.6111111111},
 {'State': 'IA',
  'Year': '2013',
  'Active Listing Count': 162188.0,
  'Avg Listing Price': 181378.6163522013},
 {'State': 'ID',
  'Year': '2013',
  'Active Listing Count': 157798.0,
  'Avg Listing Price': 312331.3768115942},
 {'State': 'IL',
  'Year': '2013',
  'Active Listing Count': 914685.0,
  'Avg Listing Price': 232436.6361628274},
 {'State': 'IN',
  'Year': '2013',
  'Active Listing Count': 461635.0,
  'Avg Listing Price': 162716.7689161554},
 {'State': 'KS',
  'Year': '2013',
  'Active Listing Count': 147344.0,
  'Avg Listing Price': 198052.6436781609},
 {'State': 'KY',
  'Year': '2013',
  'Active Listing Count': 277660.0,
  'Avg Listing Price': 190762.6495726496},
 {'State': 'LA',
  'Year': '2013',
  'Active Listing Count': 213044.0,
  'Avg Listing Price': 217061.3553113553},
 {'State': 'MA',
  'Year': '2013',
  'Active Listing Count': 329570.0,
  'Avg Listing Price': 542302.8433945756},
 {'State': 'MD',
  'Year': '2013',
  'Active Listing Count': 344156.0,
  'Avg Listing Price': 372612.4681933842},
 {'State': 'ME',
  'Year': '2013',
  'Active Listing Count': 172574.0,
  'Avg Listing Price': 287575.3819444444},
 {'State': 'MI',
  'Year': '2013',
  'Active Listing Count': 717488.0,
  'Avg Listing Price': 199346.2942132234},
 {'State': 'MN',
  'Year': '2013',
  'Active Listing Count': 286193.0,
  'Avg Listing Price': 255650.8478513357},
 {'State': 'MO',
  'Year': '2013',
  'Active Listing Count': 469719.0,
  'Avg Listing Price': 191771.8348170129},
 {'State': 'MS',
  'Year': '2013',
  'Active Listing Count': 172209.0,
  'Avg Listing Price': 184733.1978319783},
 {'State': 'MT',
  'Year': '2013',
  'Active Listing Count': 108296.0,
  'Avg Listing Price': 438866.5740740741},
 {'State': 'NC',
  'Year': '2013',
  'Active Listing Count': 1038674.0,
  'Avg Listing Price': 267612.5914836993},
 {'State': 'ND',
  'Year': '2013',
  'Active Listing Count': 20834.0,
  'Avg Listing Price': 258288.8888888889},
 {'State': 'NE',
  'Year': '2013',
  'Active Listing Count': 63766.0,
  'Avg Listing Price': 188840.6926406926},
 {'State': 'NH',
  'Year': '2013',
  'Active Listing Count': 153793.0,
  'Avg Listing Price': 307731.607495069},
 {'State': 'NJ',
  'Year': '2013',
  'Active Listing Count': 774549.0,
  'Avg Listing Price': 462860.4337431694},
 {'State': 'NM',
  'Year': '2013',
  'Active Listing Count': 142105.0,
  'Avg Listing Price': 316250.3086419753},
 {'State': 'NV',
  'Year': '2013',
  'Active Listing Count': 254059.0,
  'Avg Listing Price': 373323.2993197279},
 {'State': 'NY',
  'Year': '2013',
  'Active Listing Count': 921434.0,
  'Avg Listing Price': 466429.825642832},
 {'State': 'OH',
  'Year': '2013',
  'Active Listing Count': 841654.0,
  'Avg Listing Price': 167756.7313616759},
 {'State': 'OK',
  'Year': '2013',
  'Active Listing Count': 218307.0,
  'Avg Listing Price': 184564.9812734083},
 {'State': 'OR',
  'Year': '2013',
  'Active Listing Count': 252540.0,
  'Avg Listing Price': 353046.7013888889},
 {'State': 'PA',
  'Year': '2013',
  'Active Listing Count': 911544.0,
  'Avg Listing Price': 239854.9684089604},
 {'State': 'RI',
  'Year': '2013',
  'Active Listing Count': 70367.0,
  'Avg Listing Price': 420917.4107142857},
 {'State': 'SC',
  'Year': '2013',
  'Active Listing Count': 547439.0,
  'Avg Listing Price': 267999.2248062015},
 {'State': 'SD',
  'Year': '2013',
  'Active Listing Count': 39649.0,
  'Avg Listing Price': 237448.6486486486},
 {'State': 'TN',
  'Year': '2013',
  'Active Listing Count': 597213.0,
  'Avg Listing Price': 237257.2142857143},
 {'State': 'TX',
  'Year': '2013',
  'Active Listing Count': 1292766.0,
  'Avg Listing Price': 269357.0057409401},
 {'State': 'UT',
  'Year': '2013',
  'Active Listing Count': 182982.0,
  'Avg Listing Price': 345116.1723163842},
 {'State': 'VA',
  'Year': '2013',
  'Active Listing Count': 597609.0,
  'Avg Listing Price': 351944.1133186166},
 {'State': 'VT',
  'Year': '2013',
  'Active Listing Count': 82785.0,
  'Avg Listing Price': 329558.7570621469},
 {'State': 'WA',
  'Year': '2013',
  'Active Listing Count': 316821.0,
  'Avg Listing Price': 384738.8047138047},
 {'State': 'WI',
  'Year': '2013',
  'Active Listing Count': 528317.0,
  'Avg Listing Price': 225305.9200603318},
 {'State': 'WV',
  'Year': '2013',
  'Active Listing Count': 82385.0,
  'Avg Listing Price': 197091.4191419142},
 {'State': 'WY',
  'Year': '2013',
  'Active Listing Count': 44243.0,
  'Avg Listing Price': 386128.3783783784},
 {'State': 'AK',
  'Year': '2014',
  'Active Listing Count': 33971.0,
  'Avg Listing Price': 314421.3541666667},
 {'State': 'AL',
  'Year': '2014',
  'Active Listing Count': 405272.0,
  'Avg Listing Price': 199892.0707358813},
 {'State': 'AR',
  'Year': '2014',
  'Active Listing Count': 240326.0,
  'Avg Listing Price': 188932.3498964803},
 {'State': 'AZ',
  'Year': '2014',
  'Active Listing Count': 470587.0,
  'Avg Listing Price': 319048.305670816},
 {'State': 'CA',
  'Year': '2014',
  'Active Listing Count': 1194325.0,
  'Avg Listing Price': 713516.8099331423},
 {'State': 'CO',
  'Year': '2014',
  'Active Listing Count': 362980.0,
  'Avg Listing Price': 506805.9594383775},
 {'State': 'CT',
  'Year': '2014',
  'Active Listing Count': 363692.0,
  'Avg Listing Price': 520908.8023088023},
 {'State': 'DC',
  'Year': '2014',
  'Active Listing Count': 20342.0,
  'Avg Listing Price': 722128.947368421},
 {'State': 'DE',
  'Year': '2014',
  'Active Listing Count': 98204.0,
  'Avg Listing Price': 306631.4285714286},
 {'State': 'FL',
  'Year': '2014',
  'Active Listing Count': 2112223.0,
  'Avg Listing Price': 349417.7614346162},
 {'State': 'GA',
  'Year': '2014',
  'Active Listing Count': 1067409.0,
  'Avg Listing Price': 257400.6213592233},
 {'State': 'HI',
  'Year': '2014',
  'Active Listing Count': 87338.0,
  'Avg Listing Price': 979841.3580246913},
 {'State': 'IA',
  'Year': '2014',
  'Active Listing Count': 164532.0,
  'Avg Listing Price': 190383.7002096436},
 {'State': 'ID',
  'Year': '2014',
  'Active Listing Count': 175458.0,
  'Avg Listing Price': 320721.5217391304},
 {'State': 'IL',
  'Year': '2014',
  'Active Listing Count': 861706.0,
  'Avg Listing Price': 247174.053030303},
 {'State': 'IN',
  'Year': '2014',
  'Active Listing Count': 447372.0,
  'Avg Listing Price': 173393.2004089979},
 {'State': 'KS',
  'Year': '2014',
  'Active Listing Count': 143165.0,
  'Avg Listing Price': 204668.4482758621},
 {'State': 'KY',
  'Year': '2014',
  'Active Listing Count': 277043.0,
  'Avg Listing Price': 196750.2136752137},
 {'State': 'LA',
  'Year': '2014',
  'Active Listing Count': 215178.0,
  'Avg Listing Price': 223982.2344322344},
 {'State': 'MA',
  'Year': '2014',
  'Active Listing Count': 348981.0,
  'Avg Listing Price': 570393.7445319335},
 {'State': 'MD',
  'Year': '2014',
  'Active Listing Count': 370679.0,
  'Avg Listing Price': 380288.2951653944},
 {'State': 'ME',
  'Year': '2014',
  'Active Listing Count': 178352.0,
  'Avg Listing Price': 291783.2638888889},
 {'State': 'MI',
  'Year': '2014',
  'Active Listing Count': 743674.0,
  'Avg Listing Price': 207561.4692653673},
 {'State': 'MN',
  'Year': '2014',
  'Active Listing Count': 356065.0,
  'Avg Listing Price': 267305.1908752328},
 {'State': 'MO',
  'Year': '2014',
  'Active Listing Count': 470412.0,
  'Avg Listing Price': 196145.6231454006},
 {'State': 'MS',
  'Year': '2014',
  'Active Listing Count': 170155.0,
  'Avg Listing Price': 192467.8184281843},
 {'State': 'MT',
  'Year': '2014',
  'Active Listing Count': 108565.0,
  'Avg Listing Price': 451404.2592592593},
 {'State': 'NC',
  'Year': '2014',
  'Active Listing Count': 1062509.0,
  'Avg Listing Price': 275321.373918829},
 {'State': 'ND',
  'Year': '2014',
  'Active Listing Count': 20563.0,
  'Avg Listing Price': 284305.5555555556},
 {'State': 'NE',
  'Year': '2014',
  'Active Listing Count': 63220.0,
  'Avg Listing Price': 210299.7835497835},
 {'State': 'NH',
  'Year': '2014',
  'Active Listing Count': 168950.0,
  'Avg Listing Price': 319435.9960552268},
 {'State': 'NJ',
  'Year': '2014',
  'Active Listing Count': 783230.0,
  'Avg Listing Price': 470829.5081967213},
 {'State': 'NM',
  'Year': '2014',
  'Active Listing Count': 149570.0,
  'Avg Listing Price': 313873.1481481481},
 {'State': 'NV',
  'Year': '2014',
  'Active Listing Count': 229327.0,
  'Avg Listing Price': 406813.350340136},
 {'State': 'NY',
  'Year': '2014',
  'Active Listing Count': 976869.0,
  'Avg Listing Price': 504659.6356916579},
 {'State': 'OH',
  'Year': '2014',
  'Active Listing Count': 777644.0,
  'Avg Listing Price': 175871.4263709181},
 {'State': 'OK',
  'Year': '2014',
  'Active Listing Count': 220360.0,
  'Avg Listing Price': 192533.0992509363},
 {'State': 'OR',
  'Year': '2014',
  'Active Listing Count': 254675.0,
  'Avg Listing Price': 371566.4496527778},
 {'State': 'PA',
  'Year': '2014',
  'Active Listing Count': 914530.0,
  'Avg Listing Price': 245485.7831325301},
 {'State': 'RI',
  'Year': '2014',
  'Active Listing Count': 71453.0,
  'Avg Listing Price': 429414.7321428572},
 {'State': 'SC',
  'Year': '2014',
  'Active Listing Count': 572445.0,
  'Avg Listing Price': 273344.4573643411},
 {'State': 'SD',
  'Year': '2014',
  'Active Listing Count': 40883.0,
  'Avg Listing Price': 251308.5585585586},
 {'State': 'TN',
  'Year': '2014',
  'Active Listing Count': 627289.0,
  'Avg Listing Price': 243326.7142857143},
 {'State': 'TX',
  'Year': '2014',
  'Active Listing Count': 1237771.0,
  'Avg Listing Price': 293684.5712235378},
 {'State': 'UT',
  'Year': '2014',
  'Active Listing Count': 208794.0,
  'Avg Listing Price': 367435.3813559322},
 {'State': 'VA',
  'Year': '2014',
  'Active Listing Count': 631153.0,
  'Avg Listing Price': 356737.2884473878},
 {'State': 'VT',
  'Year': '2014',
  'Active Listing Count': 94626.0,
  'Avg Listing Price': 323836.1581920904},
 {'State': 'WA',
  'Year': '2014',
  'Active Listing Count': 321680.0,
  'Avg Listing Price': 400066.6386083052},
 {'State': 'WI',
  'Year': '2014',
  'Active Listing Count': 523620.0,
  'Avg Listing Price': 233676.2667168958},
 {'State': 'WV',
  'Year': '2014',
  'Active Listing Count': 87453.0,
  'Avg Listing Price': 203782.0132013201},
 {'State': 'WY',
  'Year': '2014',
  'Active Listing Count': 42066.0,
  'Avg Listing Price': 417295.9459459459},
 {'State': 'AK',
  'Year': '2015',
  'Active Listing Count': 32011.0,
  'Avg Listing Price': 325759.5419847328},
 {'State': 'AL',
  'Year': '2015',
  'Active Listing Count': 406207.0,
  'Avg Listing Price': 207732.3226703755},
 {'State': 'AR',
  'Year': '2015',
  'Active Listing Count': 223085.0,
  'Avg Listing Price': 197653.2608695652},
 {'State': 'AZ',
  'Year': '2015',
  'Active Listing Count': 409830.0,
  'Avg Listing Price': 335678.6150712831},
 {'State': 'CA',
  'Year': '2015',
  'Active Listing Count': 1108698.0,
  'Avg Listing Price': 790092.4339757316},
 {'State': 'CO',
  'Year': '2015',
  'Active Listing Count': 308087.0,
  'Avg Listing Price': 566931.0248447205},
 {'State': 'CT',
  'Year': '2015',
  'Active Listing Count': 370551.0,
  'Avg Listing Price': 529261.3636363636},
 {'State': 'DC',
  'Year': '2015',
  'Active Listing Count': 14359.0,
  'Avg Listing Price': 754745.1754385965},
 {'State': 'DE',
  'Year': '2015',
  'Active Listing Count': 91641.0,
  'Avg Listing Price': 316308.2077051926},
 {'State': 'FL',
  'Year': '2015',
  'Active Listing Count': 1889746.0,
  'Avg Listing Price': 385856.0674495634},
 {'State': 'GA',
  'Year': '2015',
  'Active Listing Count': 950548.0,
  'Avg Listing Price': 275070.2246112498},
 {'State': 'HI',
  'Year': '2015',
  'Active Listing Count': 90042.0,
  'Avg Listing Price': 1026254.0334855403},
 {'State': 'IA',
  'Year': '2015',
  'Active Listing Count': 158621.0,
  'Avg Listing Price': 198953.75},
 {'State': 'ID',
  'Year': '2015',
  'Active Listing Count': 152109.0,
  'Avg Listing Price': 344112.2463768116},
 {'State': 'IL',
  'Year': '2015',
  'Active Listing Count': 779423.0,
  'Avg Listing Price': 257546.792750197},
 {'State': 'IN',
  'Year': '2015',
  'Active Listing Count': 408401.0,
  'Avg Listing Price': 180466.6921703647},
 {'State': 'KS',
  'Year': '2015',
  'Active Listing Count': 132071.0,
  'Avg Listing Price': 215758.295194508},
 {'State': 'KY',
  'Year': '2015',
  'Active Listing Count': 239962.0,
  'Avg Listing Price': 207948.1686541738},
 {'State': 'LA',
  'Year': '2015',
  'Active Listing Count': 195151.0,
  'Avg Listing Price': 244213.6779505947},
 {'State': 'MA',
  'Year': '2015',
  'Active Listing Count': 341247.0,
  'Avg Listing Price': 586506.9978401728},
 {'State': 'MD',
  'Year': '2015',
  'Active Listing Count': 326284.0,
  'Avg Listing Price': 390919.2113564669},
 {'State': 'ME',
  'Year': '2015',
  'Active Listing Count': 170453.0,
  'Avg Listing Price': 296209.2419522326},
 {'State': 'MI',
  'Year': '2015',
  'Active Listing Count': 738547.0,

In [16]:
State_data_df.to_csv('State_housing_price_agg.csv', encoding='utf-8', index=False)

In [17]:
State_file = pd.read_csv('State_housing_price_agg.csv')
State_file.head()

  State  Year  Active Listing Count  Avg Listing Price
0    AK  2012               26495.0      301629.249012
1    AL  2012              312875.0      193571.345029
2    AR  2012              148267.0      190982.723735
3    AZ  2012              255573.0      274091.164454
4    CA  2012              815351.0      584730.605448